<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<button (click)="mostrar()"><i class="toggabre material-icons">dehaze</i></button>
<div [@clicMuestra]="estado" class="tablas">

      <p class="desarrollo">Hi, <br>I'm a web developer highly motivated and prepared to make part of the most
            challenging
            projects.</p>
      <p class="desarrollo">I'm currently living in Valencia, Venezuela. I have a bachelor's degree in network
            engineering
            from The Center Technological University (UNITEC) (Spanish: Universidad Tecnológica del Centro), which
            introduced me to programming and
            later in 2019 I
            started to
            get into web development creating wordpress pages on my own and then working as a freelancer while
            strengthening my basic knowledge (HTML, CSS, JS).</p>

      <p class="desarrollo">Since 2020 and until now I have been working at T4E Design. A digital marketing agency where
            I
            have
            learned more in depth the use of PHP and MySQL as these have been necessary to meet needs with a certain
            degree of
            complexity for e-commerce based on Wordpress/Woocommerce.</p>

      <p class="desarrollo">I have a strong foundation, I am always
            learning
            every day and I know that I will be able to make valuable contributions to the team and the projects that
            come our way. </p>

</div>